html,
body {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.calculator-container {
    border: 10px solid darkslategray;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    width: 450px;
}

#display {
    background-color: lightgray;
    border: 5px solid black;
    font-size: 80px;
    margin: 0;
    text-align: right;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-item {
    border: 2px solid black;
    border-radius: 3px;
    font-size: 25px;
    padding: 25px 0;
}

.item-symbol {
    background-color: dodgerblue;
}

.item-operator {
    background-color: #FF8F1F;
}

.item-number {
    background-color: #217C7E;
}

.item-0 {
    grid-column: span 3;
}