html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.grid-item {
    font-size: 20px;
    padding: 20px 0;
}

.item-ac {
    grid-column: span 3;
}

.item-0 {
    grid-column: span 2;
}